.home-container {

    overflow-y: scroll;

    scroll-snap-points-y: 100vh 200vh 300vh;
    scroll-snap-type: y mandatory;

}

.home-world-grid-wrapper{
    display: flex;
    background: url('../assets/bg1.jpg');
    background-size: cover;
    width: 100vw;
    padding: 40px;

    scroll-snap-align: start;
}

.home-sudoku-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow-x: hidden;

    scroll-snap-align: start;
}