.home-container{
    background: url('../assets/bg1.jpg');
    background-size: cover;
    width: 100vw;
    padding: 40px;

}

.home-world-grid-wrapper{
    display: flex;
}

.home-sudoku-wrapper {
    display: flex;
}