.rule-list-container{
    width: calc(20vw+50px);
    height: 100vh;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: teal;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.rule-list-body {
    height: 80vh;
    overflow-y: auto;
}

.rule-list-controls {
    display: flex;
    margin-top: 35px;
}

.rule-list-add {
    font-size: 25px;
}

.rule-list-add:hover {
    color: turquoise;
}