.world-container {
    width: 80vw;
    overflow: hidden;
}

.world-cell-row {
    display: flex;
    width: 100%;
    height: fit-content;
}

.world-btn{
    outline: none;
    border: none;
    padding: 10px 20px;
    margin: 10px 10px;
    border-radius: 20px;
    box-shadow: 7px 7px 10px rgba(0,0,0,.7);
    background: whitesmoke;
}