*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body{
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #d1d1d1;
}

/* #root {
  height: 100%;
  width: 100%;
} */