*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
  width: 100vw;
}

body{
  overflow-x: hidden;
  width: 100vw;
  background-color: rgb(209, 209, 209);
}

/* #root {
  height: 100%;
  width: 100%;
} */